#dateTime {
    width: 300px;
    height: fit-content;
    padding: 10px;
}

#time {
    font-size: 40px;
    text-align: center;
    padding: 0px 20px;
    margin: 0;
}

#date {
    padding: 0px 10px;
    margin: 0;
}